*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    letter-spacing: 0%;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--txt-color);
    background-color: #FFFFFF;
}
:root{
    --txt-color: #031923;
    --yellow: #E5BB33;
    --blue: #205B75;
    --bg-color: #FFFFFF;
}
footer{
    color: var(--bg-color);
    background-color: var(--blue);
}
.container{
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
button {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}


.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}


.skill-level {
    margin: 4px 0 20px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--blue);
    border-radius: 16px;
}


.skill-level div {
    height: 14px;
    background-color: var(--yellow);
    border-radius: 8px;
}


.skill-item {
    text-transform: lowercase;
}


.skill-item_html {
    background-image: url("../img/skill=html.svg");
}


.skill-item_css {
    background-image: url("../img/skill=css.svg");
}


.skill-item_cpp {
    background-image: url("../img/skill=c++.svg");
}


.skill-item_python {
    background-image: url("../img/skillpython.svg");
}
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Делает изображение круглым */
    object-fit: cover; /* Сохраняет пропорции */
    border: 3px solid var(--blue); /* Опционально: рамка */
}